/********** STYLESHEET ************/

/********* HEADER STYLES **********/
.headerCont {
    text-align: center;
    margin-top: 4%;
}

.overskrift {
    font-weight: 800;
}

/******** MAIN CONTAINER STYLES *******/

main {
    text-align: center;
}

h1 {
    text-align: center;
}

